{% extends 'base.html' %} {% load static %}{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Detail</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <script>
      var id = "{{ id }}";
    </script>
    <div class="card-body col-lg-8 col-md-8 col-mb-10 align-self-center jumbotron " style="background-color:#dcebfa">
      <h4> POTHOLE ID: </h4>
      <h5>{{ id }}</h5>
    <script src="{% static 'js/firebaseDetail.js' %}"></script>
    <div class="row" style="margin-bottom:15px">
      <div class="col-lg-6 col-xl-7 align-self-center">
        <img id="image" width="200" height="200" />
      </div>
      <div class="col-lg-6 col-xl-5 " style="margin-top:10px">
        <ul style="list-style-type:none">
        <li><div id="landmark">l</div></li>
        <li><div id="location">ll</div></li>
        <li><div id="occurrence">o</div></li>
        <li><div id="region">r</div></li>
        <li><div id="status">s</div></li>
        <li><div id="timestamp">ts</div></li>
        <li><div id="uid">u</div></li>
      </ul>
      </div>
    </div>
    <script src="{% static 'js/button.js' %}"></script>
    <div class="row justify-content-center ">
       <button class="btn-success hvr-shrink "  onclick="workingButton(); dis()" id="accept" type="submit">
       <div> ACCEPT REPORT </div>
       </button>
       <div style="margin-right:10px; margin-left:10px"></div>
       <button class="btn-primary hvr-shrink"  onclick="completeButton(); dis()" id="complete" type="submit" >
        <div>COMPLETE REPORT</div>
       </button>
    </div>
  </div>
  </body>
  {% else %}
  <script>
    window.location.href = "{% url 'login' %}";
  </script>
  {% endif %}
</html>
{% endblock %}
