{% extends 'base.html' %} {% load static %} {% block title %}FEEDBACK{% endblock %}
{% block content %} 
{% if user.is_authenticated %}
<script>
        var user="{{user.u.region}}"

  var firebaseConfig = {
  apiKey: "AIzaSyAdyRhmquuWcLqF5F9xFhiwfvRsjvWnEtc",
  authDomain: "sih-test-8c936.firebaseapp.com",
  databaseURL: "https://sih-test-8c936.firebaseio.com",
  projectId: "sih-test-8c936",
  storageBucket: "sih-test-8c936.appspot.com",
  messagingSenderId: "209924411187",
  appId: "1:209924411187:web:2d1279bbd788bd2351f846"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
var db = firebase.firestore();
var fdb=db.collection("reports");
fdb.where("status","in",['Completed'])
  .onSnapshot(querySnapshot => {
    const documents = [];
    querySnapshot.forEach(doc => {
      const d = doc;
      documents.push(d);
    });
    var a = document.getElementById("test");
    var filteredDocuments = documents.filter(docu => {
      return docu
        .data()
        .region.toLowerCase()
        .includes(user.toLowerCase());
    });
    var fback=document.getElementById("feedback");
    var fbackchild=document.createElement("p");
    fDocuments=filteredDocuments.map(doc=>{
        return doc.data()
    })
    fbackchild.innerHTML=fDocuments.forEach(doc=>{
        doc.uid.toString()+doc.feedback
    })
    fback.appendChild(fbackchild);
})
</script>
<div id="feedback"></div>
{% else %}
<script>
  window.location.href = "{% url 'login' %}";
</script>
{% endif %} 
{% endblock %}