{% extends 'base.html' %} {% load static %} {% block title %}FEEDBACK{% endblock %} {% block content %} {% if user.is_authenticated %}
<script src="{% static 'js/firebaseinit.js' %}"></script>
<link href="./feedback.css">
<script>
  var b = "{{user.u.ever_logged_in}}";
  if (b == "False") {
    window.location.href = "{% url 'password_change' %}";
  }
  var user = "{{user.u.region}}";
  var fdb = db.collection("reports");
  fdb.where("status", "in", ["Completed"]).onSnapshot(querySnapshot => {
    const documents = [];
    querySnapshot.forEach(doc => {
      const d = doc;
      documents.push(d);
    });
    var a = document.getElementById("test");
    var filteredDocuments = documents.filter(docu => {
      return docu
        .data()
        .region.toLowerCase()
        .includes(user.toLowerCase());
    });

    var fback = document.getElementById("feedback");
    // var fbackchild = document.createElement("p");
    fDocuments = filteredDocuments.map(doc => {
      return doc.data();
    });

    fDocuments.forEach(doc => {
    var li = document.createElement("div");
    li.className = "card-body";
    li.innerHTML = `<div style="background-color:white; box-shadow:3px 3px 3px 3px;  border-radius: 25px;   border: 2px solid black;  padding:20px;  cursor:pointer; data-toggle="tooltip" title="feedback from ${doc.uid}"><h2>User ID:${doc.uid}</h2><br><h3>Feedback:${doc.feedback}</h3><div>`;
    fback.appendChild(li);
    });

    //fback.appendChild(fbackchild);
  });
</script>
<div style=" margin: auto; width:100%;height:100%;"
  id="feedback" class="bg-gradient-info"
></div>
{% else %}
<script>
  window.location.href = "{% url 'login' %}";
</script>
{% endif %} {% endblock %}
