{% extends 'base.html' %} {% block title %}Password reset complete{% endblock %}
{% block content %}
<script>
  var b = "{{user.u.ever_logged_in}}";
  if (b == "False") {
    window.location.href = "{% url 'mainapp:firstLogin' %}";
  }
</script>
<div class="col-lg-6 col-md-8 col-mb-10 align-self-center jumbotron" >
  <h1>Password Change complete</h1>
  <p>
    Your new password has been changed. You can log in now on the
    <a href="{% url 'logout' %}">log in page</a>.
  </p>
</div>

{% endblock %}
